*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

:root {
  /* COLORS */
  /* LIGHT MODE */
  --color-dark-pink: #f59d9b;
  --color-light-pink: #f5cac3;
  --color-accent-pink: #f7ede2;
  --color-accent-pink-transparent: rgba(247, 237, 226, 0.8);
  --color-yellow: #fbdc8e;
  --color-blue: #3e6598;
  --color-green: #84a59d;
  --color-clouds: #ffffff;
  --color-hill-big: #e2e2e2;
  --color-hill-small: #efefef;
  --color-lamp-main: #4a4e69;
  --color-program: #efefef;

  --color-text-main: #ffffff;
  --color-text-secondary: #746c6c;
  --color-background-1: #ffffff;
  --color-background-2: #84a59d;

  /*BOX SHADOWS */
  --shadow: 2px 2px 6px rgba(0, 0, 0, 0.125);

  /* TYPOGRAPHY */
  --main-font: "Montserrat", sans-serif;
  --accent-font: "Fascinate", cursive;
}

body {
  background: var(--color-background-1);
  color: var(--color-text-secondary);
  font-family: var(--main-font);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.6px;
  overflow-x: hidden;
}

/* TYPOGRAPHY */

h1 {
  font-size: 3.2rem;
  font-weight: 300;
  color: var(--color-text-main);
  margin: 0 0 1rem 0;
}

h1 span {
  font-family: var(--accent-font);
  font-size: 4rem;
  color: var(--color-dark-pink);
  text-transform: capitalize;
}

h2 {
  font-family: var(--accent-font);
  text-transform: lowercase;
  font-size: 4rem;
  color: var(--color-green);
}

h3 {
  font-size: 2.4rem;
  font-weight: 300;
  text-transform: capitalize;
}

h4 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--color-text-main);
  margin: 3.6rem 0 2.4rem 0;
}

h5,
h5 span {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: lowercase;
}

h5 span {
  color: var(--color-dark-pink);
}

/* BUTTONS */

button,
.btn {
  cursor: pointer;
  appearance: none;
  border: none;
  background: transparent;
}

.btn-outlined {
  position: relative;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--color-dark-pink);
  padding: 1.4rem 2.4rem;
  /* box-shadow: var(--shadow);
  border: 2px solid var(--color-dark-pink); */
}

.btn-outlined::after,
.btn-outlined::before {
  content: "";
  position: absolute;
  border: 2px solid var(--color-dark-pink);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btn-outlined:hover::after {
  transform: translate(-5px, -5px);
}

.btn-outlined:hover::before {
  transform: translate(5px, 5px);
}

.btn-text {
  color: var(--color-dark-pink);
}

.btn-icon {
  font-size: 2rem;
  color: var(--color-dark-pink);
}

/* FORM */

.form {
  width: 100%;
  padding: 2rem 2.5rem;
}

input,
textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  background: transparent;
  border: 2px solid var(--color-text-main);
}
.form-row {
  margin-bottom: 1rem;
}
textarea {
  width: 100%;
  height: 7rem;
}

::placeholder {
  color: var(--color-text-main);
}

/* LAYOUT */

.container {
  max-width: 114rem;
  margin: 0 auto;
}
